h1 {
    margin-left: 10px;
}

.container {
    display: flex;
    width: 250px ;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px 5px 10px;
}

.item {
    padding-right: 10px;
}

table {
    width: auto;
    table-layout: auto;
    border-collapse: collapse; 
}
th, td {
    padding: 8px; /* 셀 패딩 설정 */
    text-align: left; /* 텍스트 정렬 설정 */
    border-bottom: 1px solid #ddd; /* 셀 하단 경계선 설정 */
    white-space: nowrap;
}
th {
    background-color: #f2f2f2; /* 헤더 셀 배경색 설정 */
}