{% extends "base.html" %}

{% block content %}
<h1>{{ person.username }}님의 프로필 페이지</h1>
<div>팔로잉: {{ followings|length }} / 팔로워: {{ followers|length }}</div>

{% if request.user != person %}
    {% if request.user in person.followers.all %}
        <form action="{% url "accounts:follow" person.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value='팔로우 취소'>
        </form>
    {% else %}
    <form action="{% url "accounts:follow" person.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value='팔로우'>
    </form>
    {% endif %}
{% endif %}

<br>
<div>회원번호: {{ person.pk }}</div>
<div>유저이름: {{ person.username }}</div>
<div>가입날짜: {{ person.date_joined }}</div>
<hr>

<h2>유저가 쓴 글</h2>
{% if articles %}
    {% for article in articles %}
        <ul>
            <li><div>글번호: {{ article.pk }}</div></li>
            <li><div>글제목: <a href="{% url "boards:detail" article.pk %}">{{ article.title }}</a></div></li>
        </ul>
        <br>
    {% endfor %}
{% else %}
    <div>아직 작성한 게시글이 없습니다.</div>
{% endif %}
<hr>

<h2>유저가 쓴 댓글</h2>
{% if comments %}
    {% for comment in comments %}
        <ul>
            <li><div>댓글번호: {{ comment.pk }}</div></li>
            <li><div>댓글내용: <a href="{% url "boards:detail" comment.board.pk %}"> {{ comment.content }}</a></div></li>
        </ul>
        <br>
    {% endfor %}
{% else %}
    <div>아직 작성한 댓글이 없습니다.</div>
{% endif %}
<hr>

<h2>팔로워</h2>
{% if followers %}
    {% for follower in followers %}
        <ul>            
            <li><div>팔로워명: <a href="{% url "accounts:profile" follower.pk %}"> {{ follower.username }}</a></div></li>
        </ul>
        <br>
    {% endfor %}
{% else %}
    <div>팔로워 한 사람이 없습니다.</div>
{% endif %}
<hr>

{% endblock content %} 