*{
  font-family: 'Noto Sans KR', sans-serif;
}

@media(max-width: 992px){
  .navbar-brand{
    display: none;
  }
}

.typing-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  margin-top: 3.5rem;
  padding-top: 3rem;
}

.typetext{
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
}

.comment_box{
  text-align: center;
}

.comment{
  margin: 0;
  font-size: 13pt;
}

.line{
  border: 1pt dashed lightgreen;
  margin: 50px;
}


.intro{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  width: 50%;
  height: 300px;
}

.ABOUT{
  display: flex;
  justify-content: center;
}

.intro .container{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 0 30px;
}

.self_img{
  margin-left: 1rem;
  width: 200px;
  height: 200px;
}

.Skills{
  display: flex;
  justify-content: center;
}

.outer_container{
  display: flex;
  margin: 15px;
  padding: 0 30px;
  justify-content: space-evenly;
}

.title_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.percent_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
}


.project-box{
  text-align: center;
  height: 300px;
}


.project{
  display: flex;
  justify-content: center;
}

.project-text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 30px 10px;
  text-align: right;
  font-size: 10pt;
  width: 100%;
  height: 30px;
  background-color: gainsboro;
}

.foot{
  margin: 0;
}